@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Smooch+Sans:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img/img2.jpg);
    background-size: cover;
    background-position: center;
}

.form {
    width: 100%;
    max-width: 600px;
    background-color: rgba(33, 21, 90, 0.801);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    color: white;
    padding: 30px 45px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.form h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 300;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
    margin-bottom: 15px;
}

.input-box input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: transparent;
    border: 3px solid rgba(211, 211, 211, 0.24);
    outline: none;
    color: white;
    padding: 20px 15px 20px 10px;
}

.input-box input::placeholder {
    color: white;
}

.input-box i {
    position: absolute;
    right: calc(-35px);
    font-size: 20px;
    top: 25%;
    transform: translate(-50%);
    color: rgba(99, 180, 157, 0.731);
}

.remember {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    accent-color: white;
}

.remember label input {
    margin-right: 5px;
}

.check:hover {
    cursor: pointer;
}

.remember a {
    color: white;
    text-decoration: none;
}

.remember a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 50px;
    background-color: rgba(45, 30, 95, 0.836);
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    box-shadow: rgba(247, 245, 245, 0.244) 0px 3px 5px;
    border: 2px solid rgba(255, 255, 255, 0.521);
}

button:hover {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.521);
    color: #fff;
    transition: 0.5s;
}

.register {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.register a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
}